* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.Headshot {
  height: 80vh;
  width: 92.5%;
  margin-left: 1%;
  background-image: url(Images/DSC00664.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.topsection {
  background-color: #f1cfac;
  background-image: linear-gradient(#f1cfac, #f9f8f6)
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 5%;
}

.name {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}

span {
  color: rgb(128, 126, 123);
}

.scroll-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: rgb(128, 126, 123);
}

.title {
  position: absolute;
  top: 40%;
  left: 5%;
  transform: translateY(-10%) translateX(+10%)
}



h1 {
  color: #edba8b;
  margin: 20px 0px 20px;
  font-size: 85px;
  font-weight: bold
}


h3 {
  font-size: 30px;
  margin-bottom: 50px;
}

h4 {
  letter-spacing: 2px;
  font-size: 25px;
}

.about-text {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  margin-top: 50px;
  margin-bottom: 30px
}

.mainsection {
  width: 1140px;
  max-width: 95%;
  margin: 0% auto;
  align-items: center;
}

.container {
  margin-left: 100px;
}


.about-text h2 {
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 15px;
}

.about-text p {
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
}

.secondsection img {
  margin-bottom: 20px;
}




  
.footer {
  background-color: rgb(154, 154, 154);
}

.projectone {
  margin-top: 30px 0;
  font-size: 30px;
}

@media screen and (max-width: 800px) {
  .title {
    text-align: center;
  }
}